<div class="content-container">


  <div class="all-questions">
      <% @questions.each do |question| %>
     <% @question = question %>
     <ul>
      <li id="<%=question.id%>">
        <a href="#"><img src='upvote.png'class='vote_buttons' id='upvote'></a>
        <%=question.tally_votes%>
        <a href="#"><img src='downvote.png' class='vote_buttons' id='downvote'></a>
        <a href="/questions/<%=@question.id %>"> <%= @question.title %></a>

      </li>
     </ul>
      <% end %>
  </div>


  <form id='answer' action='/answers' method='post'>
    <input type='text' name='content' placeholder='Your answer here'>
    <input type="hidden" name="question_id" value="<%= @question.id%>">
    <input type='submit' value='Answer'>
  </form>

  <form action="/questions/new" method="get" id="question">
    <input type="submit" value="Submit Question">
  </form>

</div>
