<div class="content-container">

	<div class="question">
		<div id="question-title-1"> <%= @question.title %></div>
		<div id="question-content"> <%= @question.content %> </div>
    <br>
    Posted By: <li id="submitter">-<%=@question.user.username%> </li>
	</div>

<div id='comment_holder'>
	<h4> Comments to Question: </h4>
	<ul>
		<%@question.comments.each do |comment| %>
		  <li><%=comment.content%> </li>
      <li id="submitter">-<%=comment.user.username%> </li>
      <br>
      <br>
    <%end %>
	</ul>
	<form id='question-comment'>
		<input type="submit" value="Comment">
	</form>


	<form id='comment-submitter' action="/comments/<%=@question.id%>/questions" method="post">
		<input style= 'width: 300px; height: 125px' type="text" name="content">
		<input type="submit" value="Submit Response">
	</form>

</div>
<hr>
<div id='answer_holder'>
	<h4>Answers:</h4>

  <ul>
    <%@question.answers.each do |answer| %>
      <li id="answer-format"><%=answer.content%> </li>
      <li id="submitter">-<%=answer.user.username%> </li>
      <br>
      <h4> Comments to Answer: </h4>
      <ul>
        <%answer.comments.each do |comment| %>
          <li><%=comment.content%> </li>
          <li id="submitter">-<%=comment.user.username%> </li>
          <br>
          <br>
        <%end %>
      </ul>
      <form id='answer-comment'>
        <input type="submit" value="Comment">
      </form>

      <form id='answer-comment-submitter' action="/comments/<%=answer.id%>/answers" method="post">
        <input style= 'width: 300px; height: 125px' type="text" name="content">
        <input type="submit" value="Submit Response">
      </form>



      <br>
      <br>
    <%end %>
  </ul>

  <form id='answer-form' action='/answers' method='post'>
    <textarea form="answer-form" cols='50' rows='10' name='content' placeholder='Drop yo knowlege, bobo!'></textarea>
    <input type='hidden' name='question_id' value="<%= @question.id%>">
    <input type='submit' value='Answer'>
  </form>
</div>

</div>
